@font-face {
 font-family: "slick";
 font-weight: normal;
 font-style: normal;

 src: url("../fonts/slick.eot");
 src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"),
  url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
}

@font-face {
 font-family: "Lexend Deca";
 src: url("../fonts/LexendDeca-SemiBold.woff2") format("woff2"), url("../fonts/LexendDeca-SemiBold.woff") format("woff");
 font-weight: 600;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Lexend Deca";
 src: url("../fonts/LexendDeca-Medium.woff2") format("woff2"), url("../fonts/LexendDeca-Medium.woff") format("woff");
 font-weight: 500;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Lexend Deca";
 src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"), url("../fonts/LexendDeca-Regular.woff") format("woff");
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Lexend Deca";
 src: url("../fonts/LexendDeca-Light.woff2") format("woff2"), url("../fonts/LexendDeca-Light.woff") format("woff");
 font-weight: 300;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "BN BOOP";
 src: url("../fonts/BNBOOPRegular.woff2") format("woff2"), url("fonts/../BNBOOPRegular.woff") format("woff");
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}
