@font-face {
 font-family: "slick";
 font-weight: normal;
 font-style: normal;

 src: url("../fonts/slick.eot");
 src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"),
  url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
}
@font-face {
 font-family: "Champion Gothic Welterweight";
 src: url("../fonts/ChampionGothic-Welterweight.woff2") format("woff2");
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Champion Gothic Lightweight";
 src: url("../fonts/ChampionGothic-Lightweight.woff2") format("woff2");
 font-weight: 300;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Champion Gothic Featherweight";
 src: url("../fonts/ChampionGothic-Featherweight.woff2") format("woff2");
 font-weight: 300;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Champion Gothic Bantamweight";
 src: url("../fonts/ChampionGothic-Bantamweight.woff2") format("woff2");
 font-weight: 300;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Champion Gothic Middleweight";
 src: url("../fonts/ChampionGothic-Middleweight.woff2") format("woff2");
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Champion Gothic Heavyweight";
 src: url("../fonts/ChampionGothic-Heavyweight.woff2") format("woff2");
 font-weight: bold;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Century Gothic Bold";
 src: url("../fonts/CenturyGothic-Bold.woff2") format("woff2");
 font-weight: bold;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: "Century Gothic";
 src: url("../fonts/CenturyGothic.woff2") format("woff2");
 font-weight: normal;
 font-style: normal;
 font-display: swap;
}
