html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
 display: block;
}
body {
 line-height: 1;
}
ol,
ul {
 list-style: none;
}
blockquote,
q {
 quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
 content: "";
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}

body {
 background-color: #0a0d18;
 color: white;
 font-family: "Lekton", sans-serif;
 overflow-x: hidden;
}

.main-wrapper {
 max-width: 2000px;
 margin: 0 auto;
}

header {
 position: absolute;
 z-index: 3;
 display: block;
 width: 100%;
 margin-top: 20px;
}

.hero-section {
 background-image: url(../images/hero-bg.png);
 background-size: cover;
 height: 675px;
 width: 100%;
 display: grid;
 grid-template-columns: 1fr 1fr;
 position: relative;
 overflow: hidden;
}

.header-row {
 z-index: 1;
 display: grid;
 grid-template-columns: 200px 1fr;
 padding: 20px;
 align-items: center;
}

.left-hero-section {
 display: flex;
 justify-content: center;
 flex-direction: column;
 color: white;
 margin: auto;
}
.right-hero-section {
 display: flex;
 justify-content: flex-end;

 img {
  position: absolute;
  right: 0;
  bottom: -86px;
 }
}

.desktop-menu {
 display: flex;
 gap: 10px;
 justify-content: flex-end;
 align-items: center;
 align-content: center;
}

.desktop-menu {
 li a {
  color: hsla(0, 0%, 90%, 0.495);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
 }

 .menu-active {
  color: white;
  border-radius: 30px;
  border: 1px solid white;
 }

 .wallet-connect {
  background: #f46036;
  color: white;
  border-radius: 30px;
  color: #0b132b;
 }
}

.thanks-support {
 font-size: 24px;
}

.main-title {
 font-size: 130px;
 font-family: "Caveat Brush", cursive;
 margin-bottom: 20px;
}

.hero-cta {
 background: linear-gradient(90deg, #1734e1 0%, #a32fc0 100%);
 border-radius: 50px;
 width: 300px;
 height: 65px;
 color: white;
 text-decoration: none;
 display: flex;
 align-items: center;
 gap: 10px;
 justify-content: center;
 font-size: 28px;
 font-weight: bold;
}
.main-cta {
 background: linear-gradient(90deg, #1734e1 0%, #a32fc0 100%);
 border-radius: 50px;
 padding: 20px 30px;
 display: inline-block;
 color: white;
 text-decoration: none;
 font-size: 28px;
 font-weight: bold;
}

.medium-heading {
 font-size: 65px;
 color: white;
 font-family: "Caveat Brush", cursive;
}

p {
 color: white;
 line-height: 1.5;
 font-size: 25px;
}

.txt-center {
 text-align: center;
}

.container-box {
 max-width: 1280px;
 margin: 0 auto;
 position: relative;
 z-index: 1;
}

.margin-30 {
 margin: 30px 0;
}

.second-section {
 padding: 140px 0px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: relative;
}

.second-section-background-nft {
 position: absolute;
 right: 0%;
 bottom: 0px;
}

.third-section {
 display: grid;
 grid-template-columns: 45% 1fr;
 padding: 140px 0px;
}

.third-section-left-col {
 display: flex;
 flex-direction: column;
 gap: 20px;
}

.forth-section {
 display: flex;
 flex-direction: column;
 padding: 140px 0px;
 overflow: hidden;
}

.roadmap-col {
 display: grid;
 grid-template-columns: 1fr 1fr;
}
.third-section-right-col {
 max-width: 780px;
}

.grey-heading {
 color: rgba(230, 230, 230, 0.495);
}

.content-small-heading {
 font-size: 37px;
}

.third-sec-heading {
 padding-left: 100px;
}
.big-heading {
 font-size: 130px;
 color: white;
 font-family: "Caveat Brush", cursive;
 text-align: center;
}

.heading-font {
 font-family: "Caveat Brush", cursive;
}
.relative {
 position: relative;
}

.roadmap-top-nft {
 position: absolute;
 right: 0;
 top: 0px;
 max-width: 500px;
}

.roadmap-row {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 250px;
 position: relative;
 padding-bottom: 220px;
 min-height: 100px;
 align-items: center;
}

.roadmap-heading-medium {
 font-size: 45px;
}
.roadmap-heading-big {
 font-size: 75px;
}
.roadmap-row p {
 font-size: 30px;
}

.roadmap-heading-spacing {
 margin-bottom: 300px;
}

.roadmap-timeline {
 position: absolute;
 margin: 0 auto;
 display: grid;
 justify-content: center;
 left: 0;
 right: 0;
 top: 300px;
 max-height: 1655px;
 overflow: hidden;

 // &::after {
 //  content: "";
 //  border: 0px !important;
 //  position: fixed;
 //  display: block;
 //  background: white;
 //  bottom: 0px;
 //  /* bottom: 0px; */
 //  height: 80px;
 //  width: 100%;
 //  bottom: 150px;
 // }
}

.roadmap-numbers {
 position: absolute;
 margin: 0 auto;
 display: grid;
 justify-content: center;
 left: 0;
 right: 0;
 width: 90px;
 top: 0px;
 bottom: 0px;
}

.roadmap-timeline::before {
 transition: 300ms ease-in-out;
 visibility: hidden;
 height: 0px;
 content: "";
}

.roadmap-timeline.in-viewport {
 &::before {
  content: "";
  border: 0px !important;
  position: fixed;
  display: block;
  background: #131623;
  /* bottom: 0px; */
  height: 70px;
  width: 100%;
  bottom: 0px;
  visibility: visible;
 }
}
.hero-section,
.second-section,
.third-section,
.fifth-section,
.sixth-section {
 position: relative;
 z-index: 2;
 background-color: #0a0d18;
}

.light-section-bg {
 background: #131623;
}

.forth-section {
 z-index: 1;
}

.fifth-section {
 padding: 140px 0px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: relative;
 overflow: hidden;
}

.center-slider-row {
 margin-top: 30px;
 width: 100%;
}
.team-member-col {
 text-align: center;
 gap: 15px;
 display: inline-block;
}
.team-member {
 font-size: 30px;
 margin-top: 10px;

 color: white;
}
.team-member-designation {
 font-size: 22px;
 font-weight: bold;
 color: hsla(0, 0%, 100%, 0.498);
}

.slick-slide {
 display: flex;
 justify-content: center;
 padding: 30px;
}

.slick-center {
 -moz-transform: scale(1.08);
 -ms-transform: scale(1.08);
 -o-transform: scale(1.08);
 -webkit-transform: scale(1.08);
 color: #e67e22;
 opacity: 1;
 transform: scale(1.08);
}

.sixth-section {
 padding: 0px 0px 100px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 position: relative;
 overflow: hidden;
}

footer {
 background-image: url(../images/hero-bg.png);
 background-size: cover;
 display: grid;
 grid-template-columns: 1fr;
 position: relative;
 overflow: hidden;
 padding: 100px 20px 0px;
}

.footer-container {
 width: 1280px;
 margin: 0 auto;
 display: flex;
 border-bottom: 1px solid white;
 padding-bottom: 50px;

 .footer-socials {
  margin-top: 15px;
  display: inline-block;
 }

 .main-cta {
  background: linear-gradient(90deg, #1734e1 0%, #a32fc0 100%);
  border-radius: 50px;
  padding: 20px 30px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  width: auto;
  height: 28px;
  display: table;
  margin: 0 auto;
 }
}

.copyright {
 font-size: 14px;
 text-align: left;
 width: 1280px;
 margin: 10px auto;
}
