@import url("https://fonts.googleapis.com/css2?family=Lekton:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lekton:wght@400;700&display=swap");

@font-face {
 font-family: "slick";
 font-weight: normal;
 font-style: normal;

 src: url("../fonts/slick.eot");
 src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"),
  url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
}
